/*+++++++++++++++++++++++++++++++++++++MOBIL++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++societegry+++++++++++++++++++++ */


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SETTINGS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html {
    scroll-behavior: smooth;
    font-size: 1rem;

    /*------------- Variable de taille-------------------------------------- */
    --SD: 480px;
    --MD: 768px;
    --L: 992px;
    --XL: 1200px;

    /*-------------------- Colors---------------------------------------------- */
    --midlebrown: #bda599;
    --lightbrown: #ded0ce;
    --darkbrown: #a18272;
    --darkgray: #d9d9d9;
    --lightgrey: #f9f9f9;
    --darkfontcolor: #543424;
    --fontgreycolor: #545358;
    --lightwhite: #f5f3f3;
    --accentcolor: #e0b79e;
    --lightaccentcolor: #fedbaf;
    --darkcolor: #191313;
}

    /* --------------------------Fonts------------------------------------------- */
p {
    line-height: 1rem;
    letter-spacing: 3px;
    font-family: "Roboto", sans-serif;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: var(--lightwhite);
}

h1 {
    font-family:"Cormorant Garamond", serif ;
    font-weight: 600;
    font-size: 3.375rem;
    letter-spacing: 3px;
}

a{
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold; 
    color: var(--darkfontcolor);
}
a:hover {
    color: var(--darkcolor);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END SETTINGS>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ----------------------------------NAV MOBIL--------------------------------*/
nav{
    height: 80px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.on {
    display: none;
}
.logo >img{
    height: 60px;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 400px;
    /* Menu tu es a 50% du top */
    text-align: center;
    /* justify-content: space-around; */
    background-color:var(--darkgray);
    /* cacher le menu 50 manières de le cacher */
    /* display: none; */
    top: -100%;
    /* on peut jouer sur la transparenceaussi*/
    transition: 1s;
}

.nav-menu.active{
    top: 80px;
    transition: 2s ;
    /* justify-content: space-around; */
}

li{
    margin: 50px 0;
    text-decoration: none;
}

.lineHamburger{
    display: flex;
    flex-direction: column;
    width: 45px;
    height: 5px;
    margin: 12px auto;
    background-color: var(--darkcolor);
}
.logo, .hamburger{
    padding: 15px;
}

.hamburger{
    /* change la fleche en doigt */
    cursor: pointer;
}

/* Animation MOBIL nav ICO */
.hamburger.active .lineHamburger:nth-child(2){
    opacity: 0;
}

.hamburger.active .lineHamburger:nth-child(1){
    transform: translateY(17px) rotate(45deg);
} 

.hamburger.active .lineHamburger:nth-child(3){
    transform: translateY(-17px) rotate(-45deg);
}

/* ---------------------------HEADER IMAGE MOBIL-----------------------------  */

header{
    height: 270px;
    background-image: url('../IMG/assortiment-de-praline-au-chocolat.png'); 
    background-color: var(--darkcolor);
}

header >h1{
    padding-top: 80px;
    padding-left: 80px;
    color: var(--lightwhite);
}

/* ---------------------------------MAIN MOBIL-------------------------------- */
#societe
,#propos 
,#produit
,#contact

{
padding: 80px 80px; 
}

#societe p{
    color: var(--lightwhite);
}
#gallery
{
padding: 80px 80px 300px 80px; 
}


/* ------------------------------A PRPOPOS MOBIL-------------------------------- */


.description{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.description >img{
    height: 40px;
    width: auto;
}
.description >p{
    grid-column: span 2;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* ---------------------------------SOCIETE MOBIL-------------------------- */


#societe{
    background-image: url('../IMG/Etoffe-a-propos.jpg');
    background-position:  60% 60%;
    color: var(--darkcolor);
    
}

/* -----------------------------------PRODUIT MOBIL------------------------ */

/* -----------------------------------IMAGE PRODUIT MOBIL------------------------- */
.imgProd1{
    background-image: url('../IMG/nos-box-cadeaux.jpg');
    background-position: 60% 66%;
    background-size: 750px 750px;
    }
.prod1TempGal >.textProd{
        color: var(--darkcolor);
    } 

.imgProd2{
    background-image: url('../IMG/truffes-au-chocolat.png');
    background-size: 45%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.imgProd3{
    background-image:url('../IMG/pralines-au-chocolat.png') ;
    background-size:90%;
    background-position: 100% 120%; 
    background-repeat: no-repeat;
}
.imgProd4{
    background-image: url('../IMG/tartinade-au-chocolat.png');
    background-position: 60% 66%;
    background-size: 350px 354px;
    background-color: var(--darkbrown);
    color: var(--lightwhite);
}

.imgProd5{
    background-image: url('../IMG/paquet-cadeau-bon-cadeau.jpg');
    background-size: 578px 400px;
}
.imgProd6{
    background-image: url('../IMG/macaron-fraise-amende.png');
    background-color: var(--darkbrown);
    background-size: 90%;
    background-position: 100% 100%;
}
.imgProd7{
    background-image: url('../IMG/chocolat.jpg');
    background-position: 60% 66%;
    background-size: 800px 600px;
    color: var(--lightgrey);

}

/* ----------------------------------IMAGE GALLERY MOBIL ------------- */
.imgProd1Gal{
    background-image: url('../IMG/nos-confiseries-aux-produits-naturels-orientaux.png');
    background-size: 500px 500px; 
    background-color: var(--lightbrown);
}
.imgProd2Gal{
    background-image: url('../IMG/muffins-au-chocolat.png');
     background-size: 90%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.imgProd3Gal{
    background-image:url('../IMG/melocakes-naturels-au-chocolat.png') ;
    background-size:90%;
    background-position: 100% 100%; 
    background-repeat: no-repeat;
}
.imgProd4Gal{
    background-image: url('../IMG/creme-glacee-aux-parfuns-naturels.png');
    background-position: 60% 66%;
    background-size: cover;
    background-color: var(--lightwhite);
}

.imgProd5Gal{
    background-image: url('../IMG/chocolat.jpg');
    background-size: 1280px 800px;
    background-position: 60% 60%;
}
.imgProd6Gal{
    background-image: url('../IMG/les-manons.jpg');
    background-color: var(--darkbrown);
    background-size: cover;
    background-position: 100% 100%;
}
.imgProd7Gal{
    background-image: url('../IMG/sucettes-aux-chocolats.png');
    background-position: 60% 66%;
    background-size: 1200px 900px;
    background-color: #545358;
}
.imgProd8Gal{
    background-image: url('../IMG/caramels-au-beure-salé.png');
    background-size: 578px 400px;
    background-color: var(--darkbrown);
}
.imgProd9Gal{
    background-image: url('../IMG/les-pralines-gouts-orientaux.jpg');
    background-color: var(--darkbrown);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.imgProd10Gal{
    background-image: url('../IMG/macarons-aux-gouts-d-orient.png');
    background-color: var(--darkbrown);
    background-size: 90%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.imgProd11Gal{
    background-image: url('../IMG/nos-pates-naturelles-au-chocolat.jpg');
    background-color: var(--darkbrown);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.imgProd12Gal{
    background-image: url('../IMG/bons-cadeaux.jpg');
    background-color: var(--darkbrown);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.imgProd13Gal{
    background-image: url('../IMG/notre-assortiment-de-truffes-au-chocolat.png');
    background-color: var(--darkbrown);
    background-size: cover;
    background-position: 55% 70%;
    background-repeat: no-repeat;
}
.imgProd14Gal{
    background-image: url('../IMG/nos-box-aux-produits-varies.jpg');
    background-color: var(--darkbrown);
    background-size: 850px 636px;
    background-position: 75% 90%;
    background-repeat: no-repeat;
}
.imgProd15Gal{
    background-image: url('../IMG/bouteille-de-sirop-aux-produit-naturels-orientaux.png');
    background-color: var(--darkbrown);
    background-size: 750px 500px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
/* ----------------------END IMAGE MOBIL---------------------------- */

/* ----------------------------------------------------------------- */
/* ------------------------PRODUIT MOBIL---------------------------- */

#produit, #gallery{
background-image:url('../IMG/Etoffe.jpg');
background-size: cover;
background-repeat: no-repeat;
}



/* Les Boxs template MOBIL */
.prod1Temp{
    display: grid;
    margin-bottom: 30px;
}
.imgProdSettings{
    grid-row: 1;
    grid-column: 1;
    height: 350px;
    width: 350px;
}
.textProd{
    height: 350px;
    width: 350px;
    padding: 20px; 
    grid-row: 1;
    grid-column: 1;
    overflow: hidden;
    color: var(--lightwhite);
}



/* Les Boxs template MOBIL Galerie */
.prod1TempGal{
    display: grid;
    margin-bottom: 30px; 
}

/* Bandeau avec BG MOBIL */
.prod2Temp{
    height: 350px;
    width: 350px;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 20px ; 
    background-color: var(--lightaccentcolor);
}

/* Gallery MOBIL */
.prod2TempGal{
    height: 350px;
    width: 350px;
    overflow: hidden;
    padding: 20px ; 
    background-color: var(--lightaccentcolor);
    margin-bottom: 30px;
}

/* Carrousel produit MOBIL & Gallery */
.prod3Temp, .prod3TempGal{
    display: grid;
}    
.imgProd3Settings{
    margin-bottom: 30px; 
    height: 350px;
    width: 350px; 
    padding: 20px ;
    overflow: hidden;
    background-repeat: no-repeat;
}
.imgProd3SettingsGal{
    margin-bottom: 30px; 
    height: 350px;
    width: 350px; 
    padding: 20px ;
    overflow: hidden;
    background-repeat: no-repeat;
    color: var(--lightwhite);
}

/* +++++++++++++++++++++NOTE JE NE SUIS PAS ARRIVER A CIBLER H3 DES 2 ID  */
#produit h3{  
    font-weight: 600;
    margin-bottom: 5px;
}


#gallery h3{  
    font-weight: 600;
    margin-bottom: 5px;
}

#produit h3{
   
    color: var(--darkfontcolor);
}
.galLink{
 
    padding: 30px 10px; 
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--lightbrown);
    width: 350px;
    gap: 0px;   
}



/* ------------------------------CONTACT MOBIL----------------------------- */

#contact{
    padding-top: 50px;
    padding-bottom: 380px; 
    background-color: var(--accentcolor);
}
.contactContainer{
    background-color: var(--darkcolor);
}
.contactForm{
    display: flex;
    border-bottom: 1px dotted var(--accentcolor);
    justify-content: start;
    align-items: center;
    background-color: var(--darkcolor);
    padding: 20px;
    color: var(--darkgray);
}
.contactForm >h4{
margin-left: 3%;
}

/* BOUTON */

.btn {
    margin-top: 30px;
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
    background: var(--accentcolor);
    -webkit-box-shadow: 1px 1px 6px #666666;
    -moz-box-shadow: 1px 1px 6px #666666;
    box-shadow: 1px 1px 6px #666666;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
}  
.btn:hover {
    background: var(--lightaccentcolor);
    text-decoration: none;
}

/* SLIDER */
#content  {
    min-height: 0;
    display: none;
}

#content.expanded {
    display: grid;
    text-align: justify;
    background-color: var(--darkcolor);
}

/* MESSAGE */
.msg{
    border-bottom: 1px dotted var(--accentcolor);
}

textarea{

    padding-left: 10px;
    outline: none;
    width: 80%;
    margin: 25px 25px 10px 25px;
    height: 100px;
    background-color: var(--darkcolor);
    color: var(--darkgray);
    border: none;
   border-left: 2px solid var(--accentcolor);
}
textarea:hover{
transition: 50ms;
   border-left: 10px solid var(--accentcolor);
}

/* MAIL */

.userId{
    margin: 30px;
}
.userInp{
    background-color: var(--darkcolor);
    border: none;
}
.userInp:hover{
    border-bottom: 2px solid var(--accentcolor);
}
 /* SEND RESET */
.envRst{
    margin-top: 20px;
}
.envRst >input{
    padding: 20px 30px;
    background-color: var(--accentcolor);
}


/* CARTE */
.carte >iframe{
    background-color: var(--darkcolor);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}

/* -----------------FOOTER MOBIL------------------- */
footer{
    background-color: var(--darkfontcolor);
    padding: 0px 80px 0px 80px;
}

/* REZO SOCIO */
#socials{
    background-color: var(--darkcolor);
    text-align: center;
    position: relative;
    bottom: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#socials >h2{
    color: var(--accentcolor);
}
#socials >h3{
    color: var(--lightgrey);
}

footer h4{
    font-family: "Roboto", sans-serif;
    color: var(--lightaccentcolor);
}
.footMail >input{
    text-align: center;
    margin-top: 15px;
    background-color: var(--darkcolor);
    color: var(--lightaccentcolor); 
    border: none;
}
.footMail >input:hover{
 border-bottom: 2px solid var(--accentcolor);
}
.footInscr{
    /* display: flex; */
    margin-top: 30px;
} 

/* BOUTON */
.footBtn{
    padding: 15px 5%;
    color: var(--lightaccentcolor);
    background-color: var(--darkcolor);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
}
.footBtn:hover{
    color: var(--accentcolor);
    transform: scale(90%);
}

/* ICO SOCIO MOBIL*/
.socIco{
    display: flex;
    justify-content: center;
    gap: 30%;
}
.socIco >a:hover{
    transform: scale(110%);
}

/* FOOTER PIED MOBIL */
.footSpacer{
    background-color: var(--darkfontcolor);
    height: 80px;
    border: none;
}

.pied {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 0px;
    color: var(--lightgrey);
}
.pied >div {
    border-left: 1px solid var(--accentcolor);
}

.pied p{
    padding: 15px 0px 15px 5px;
    color: var(--lightgrey);
}   

.piedPos{
    position: relative;
    bottom: 100px;
}




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*++++++++++++++++++++++++++++++++TABLET++++++++++++++++++++++++++++++++++ */


@media screen and (min-width:865px){
/* ---------------------------HEADER TABLET------------------------- */
    header >h1{
        padding-top: 120px;
    }


/* --------------------------NAV TABLET------------------------------- */
    .hamburger{
        display: none;
    }
    .on{
        display: contents;
    }
    .logo{
        display: none;
    }

    .logoPc{height: 130px;
        padding-top: 20px;
    }
    nav{
        height: 0px;
    }
    .nav-menu{
        position: absolute;
        height: 90px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: row;
        top: 0;
    }

    .nav-menu.active{
        top: 0px;
    }


    /*--------------------------------MAIN STRAT--------------------------- */

    .description br{
        display: none; 
    }

/* -------------------------------PRODUCT TABLET------------------------- */
    .prod1Temp{
        grid-template-columns: 1fr 3fr ;
        gap: 30px;
    }

    .prod1TempGal{
    grid-template-columns: 1fr 3fr ;
    }

    .textProd{
    grid-column: 2 ;
    width: 100%;
    padding: 20px 40px 20px 20px;
    background-color: var(--accentcolor);
    color: var(--lightwhite);
    overflow: hidden;
    }

    .prod1TempGal >.textProd{
        color: var(--lightwhite);
    } 

    .prod2Temp, .prod2TempGal{
        height: 200px;
        width: auto;
        padding-right: 120px;
        background-size: 20%;
    }
    .prod3Temp, .prod3TempGal{
        padding-top: 30px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        background-color: var(--accentcolor);
        margin-bottom: 30px;
    }

    .imgProd7Gal, .imgProd9Gal{
        padding-top: 30px;
    }

    .galLink{
        padding: 20px 20px;
        gap: 20px; 
        width: 100%;
        
    }
  
    
    
/* -----------------------------FOOTER TABLET----------------------- */
    .pied {
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*+++++++++++++++++++++++++++++++++++ PC+++++++++++++++++++++++++++++++++++ */

@media screen and (min-width:1300px){

/* ------------------------------SETTINGS---------------------------------- */
   /* ---------------------------FONT PC----------------------------------- */
    p {
        line-height: 1.6rem;
        font-size: 1.4rem;
        letter-spacing: 3px;
        font-family: "Roboto", sans-serif;
    }
    
    h3 {
    
        font-size: 2.5rem;
        line-height: 2.6rem;
        letter-spacing: 3px;
    }
    
    h2 {
        font-size: 2.9rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }
    
    h1 {
        font-size: 6rem;
        letter-spacing: 3px;
    }
    
    a{
        text-decoration: none;
        font-family: "Cormorant Garamond", serif;
        font-weight: 600;
        font-size: 1.3rem;
    }

/* -------------------------------NAV PC-------------------------------- */


/* ------------------------------A PROPOS PC--------------------------- */
   #propos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
   }
   .description{
    grid-template-columns: 1fr 3fr;
    /* padding-right: 20px; */

    }
    .description>img{
        grid-row: span 2;
        height: 90px;
        width: auto;
    }

    .description >p{
        grid-column:2 ;
    }

/* --------------------------------PRODUCT PC-------------------------- */
    
    /* BOX TEMPLATE PC */
    .textProd{
    width: 100%;
    padding:50px 180px 50px 50px;
    }
    .imgProdSettings{
         width: 100%;
    }
    
    /* BANDEAU PC */
    .prod2Temp{
        background-size: 10%;
    }

    .prod2TempGal{
        background-size: 10%;
    }
    /* GRID PC */
    .prod3Temp{
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 30px;
    }
    .prod3Temp :hover{
        transform: scale(130%);
        transition: 1s;
    }
    .prod3Temp p:hover{
        color: transparent;
        cursor: pointer;
      
    }
    .prod3TempGal p:hover{
        transition: 500ms;
        color: transparent;
        cursor: pointer;
      
    }
       
    .prod3TempGal{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 80px;
        gap: 30px;
    }

    .imgProd3SettingsGal{
        margin-bottom: 30px; 
        height: auto;
        width: auto; 
        padding: 20px ;
        overflow: hidden;
        background-repeat: no-repeat;
    }
    
    /* HIDE 4 FOTO  */
    .imgProd7{
        display: none; 
    }

    .imgProd3Settings >p{
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    
    /* PC GRID LAYOUT */
    .imgProd7Gal{
        grid-row: 1 / span 2;
        grid-column: 4;
        background-size: cover;    
    }
    .imgProd9Gal{
        grid-column: 2 / span 2;
    }
    .galLink{
        padding: 50px 50px;
    }
    .galLink  :hover{
        transform: scale(110%);
        transition: 500ms;
    }

/* ---------------------------------CONTACT PC--------------------------------- */
    .contactContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .btn{
        margin-bottom: 30px;
    }

    #content{
        grid-column: 1 / span 2; 
    }

    #content .expanded{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .userId{
        padding-left: 50px; 
    }

    .envRst >input:hover{
        background-color: var(--lightaccentcolor);
    }

    /* ----------------------CARTE---------------------- */
    .carte{
        grid-row: 1;
        grid-column: 2;
    }       
    .carte >iframe{
        height: 100%;
    }
     /* ----------------------FOOTER--------------------- */
    .footSocInp{
        grid-column: 1 /span2;
    }

    .footInscr{
            margin-top: 30px;
    }    
    .footBtn{
        padding: 15px 100px;
        color: var(--lightaccentcolor);
        background-color: var(--darkcolor);
        margin-left: 50px;
        margin-right: 50px;
    }
    .pied p{
        padding-bottom: 5px;
        padding-left: 10px ;
        color: var(--lightgrey);
        font-size: 1rem;
    }   
    
}   
   /* END PC */

   